src/main/webapp/wsdl/StockController.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://controllers.se.rutgers.edu" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://controllers.se.rutgers.edu" xmlns:intf="http://controllers.se.rutgers.edu" xmlns:tns1="http://beans.se.rutgers.edu" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://controllers.se.rutgers.edu" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.se.rutgers.edu"/>
   <element name="initStock">
    <complexType>
     <sequence>
      <element name="stockid" type="xsd:int"/>
      <element name="symbol" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="initStockResponse">
    <complexType>
     <sequence>
      <element name="initStockReturn" type="tns1:Status"/>
     </sequence>
    </complexType>
   </element>
   <element name="getKFPrediction">
    <complexType>
     <sequence>
      <element name="stockid" type="xsd:int"/>
      <element name="symbol" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getKFPredictionResponse">
    <complexType>
     <sequence>
      <element name="getKFPredictionReturn" type="tns1:Status"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSVMPrediction">
    <complexType>
     <sequence>
      <element name="stockid" type="xsd:int"/>
      <element name="symbol" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSVMPredictionResponse">
    <complexType>
     <sequence>
      <element name="getSVMPredictionReturn" type="tns1:Status"/>
     </sequence>
    </complexType>
   </element>
   <element name="getRealTimeData">
    <complexType>
     <sequence>
      <element name="stockid" type="xsd:int"/>
      <element name="symbol" type="xsd:string"/>
      <element name="startDate" type="xsd:long"/>
      <element name="endDate" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getRealTimeDataResponse">
    <complexType>
     <sequence>
      <element name="getRealTimeDataReturn" type="tns1:Status"/>
     </sequence>
    </complexType>
   </element>
   <element name="getHistoricalData">
    <complexType>
     <sequence>
      <element name="stockid" type="xsd:int"/>
      <element name="symbol" type="xsd:string"/>
      <element name="startDate" type="xsd:long"/>
      <element name="endDate" type="xsd:long"/>
      <element name="indicator" type="xsd:string"/>
      <element name="maWindow" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getHistoricalDataResponse">
    <complexType>
     <sequence>
      <element name="getHistoricalDataReturn" type="tns1:Status"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAnnPrediction">
    <complexType>
     <sequence>
      <element name="stockid" type="xsd:int"/>
      <element name="symbol" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAnnPredictionResponse">
    <complexType>
     <sequence>
      <element name="getAnnPredictionReturn" type="tns1:Status"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://beans.se.rutgers.edu" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Status">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="initStockResponse">

      <wsdl:part element="impl:initStockResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="initStockRequest">

      <wsdl:part element="impl:initStock" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSVMPredictionResponse">

      <wsdl:part element="impl:getSVMPredictionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getHistoricalDataRequest">

      <wsdl:part element="impl:getHistoricalData" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getRealTimeDataRequest">

      <wsdl:part element="impl:getRealTimeData" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSVMPredictionRequest">

      <wsdl:part element="impl:getSVMPrediction" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getRealTimeDataResponse">

      <wsdl:part element="impl:getRealTimeDataResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAnnPredictionRequest">

      <wsdl:part element="impl:getAnnPrediction" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getHistoricalDataResponse">

      <wsdl:part element="impl:getHistoricalDataResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getKFPredictionRequest">

      <wsdl:part element="impl:getKFPrediction" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getKFPredictionResponse">

      <wsdl:part element="impl:getKFPredictionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAnnPredictionResponse">

      <wsdl:part element="impl:getAnnPredictionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="StockController">

      <wsdl:operation name="initStock">

         <wsdl:input message="impl:initStockRequest" name="initStockRequest">

       </wsdl:input>

         <wsdl:output message="impl:initStockResponse" name="initStockResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getKFPrediction">

         <wsdl:input message="impl:getKFPredictionRequest" name="getKFPredictionRequest">

       </wsdl:input>

         <wsdl:output message="impl:getKFPredictionResponse" name="getKFPredictionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSVMPrediction">

         <wsdl:input message="impl:getSVMPredictionRequest" name="getSVMPredictionRequest">

       </wsdl:input>

         <wsdl:output message="impl:getSVMPredictionResponse" name="getSVMPredictionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRealTimeData">

         <wsdl:input message="impl:getRealTimeDataRequest" name="getRealTimeDataRequest">

       </wsdl:input>

         <wsdl:output message="impl:getRealTimeDataResponse" name="getRealTimeDataResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getHistoricalData">

         <wsdl:input message="impl:getHistoricalDataRequest" name="getHistoricalDataRequest">

       </wsdl:input>

         <wsdl:output message="impl:getHistoricalDataResponse" name="getHistoricalDataResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAnnPrediction">

         <wsdl:input message="impl:getAnnPredictionRequest" name="getAnnPredictionRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAnnPredictionResponse" name="getAnnPredictionResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StockControllerSoapBinding" type="impl:StockController">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="initStock">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="initStockRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="initStockResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getKFPrediction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getKFPredictionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getKFPredictionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSVMPrediction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSVMPredictionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSVMPredictionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRealTimeData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRealTimeDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getRealTimeDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getHistoricalData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getHistoricalDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getHistoricalDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAnnPrediction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAnnPredictionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAnnPredictionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StockControllerService">

      <wsdl:port binding="impl:StockControllerSoapBinding" name="StockController">

         <wsdlsoap:address location="http://localhost:8080/stockcruncher-ee/services/StockController"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
